* {
  box-sizing: border-box;
}

:root {
  --dark-bg: #151515;
  --dark-text: #fff;
  --light-bg: #eee;
  --light-text: #000;
  font-family: system-ui, sans-serif;
  background-color: var(--dark-bg);
  color: var(--dark-text);
}

body {
  margin: 0;
}

#root {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
}

.input {
  display: block;
  width: 100%;
  height: 2.5rem;
  font-size: 2rem;
  text-align: center;
  border: none;
  border-radius: 1rem;
}

.retry {
  height: 2.5rem;
  font-size: 1.5rem;
  border-radius: 1rem;
  border: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--light-text);
    background-color: var(--light-bg);
  }
}
